<header class="site-header dark-section">
    <div class="header-inner">
      <div class="header-logo">
        <a routerLink="/" class="logo-link">
          <img src="../../assets/video/photos/white-logo.jpeg" alt="Leleka Construction Logo" class="logo-img animate-logo">
        </a>
      </div>
      <div class="header-menu">
        <nav class="header-links">
          <ul class="header-nav">
            <li><a routerLink="/">Strona główna</a></li>
            <li><a routerLink="/about">O firmie</a></li>
            <li class="dropdown header-nav-item">
              <a href="/oferta"><span class="dropdown-arrow">▶</span>Kariera</a>
              <ul class="dropdown-menu">
                <li *ngFor="let vacancy of vacancies">
                  <a [routerLink]="['/vacancies', vacancy.path]">
                    {{ vacancy.title }}
                  </a>
                </li>
              </ul>
            </li>
            <li><a routerLink="/realizacje">Realizacje</a></li>
            <li><a routerLink="/contact">Kontakt</a></li>
          </ul>
        </nav>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="site-footer dark-section">
  <div class="footer-container">
    <div class="footer-contact">
      <p>📞 +48 733 071 777</p>
      <p>✉️ contact&#64;lelekaconstruction.com</p>
    </div>
    <div class="footer-bottom">
      <p>Wszelkie prawa zastrzeżone © LELEKA CONSTRUCTION {{ currentYear }}</p>
    </div>
  </div>
</footer>
