

<main class="site-content">
  <div class="container">
    <h2>Добро пожаловать на нашу платформу!</h2>
    <p>Это домашняя страница Angular‑приложения с хуевым дизайном.</p>
    <p>Ибо хидер как мы видим - в хоум компоненте и он летает.</p>
  </div>

  <div class="main-content">
    <video class="main-video main-content" autoplay muted loop playsinline>
      <source src="assets/video/Janbud_Budownictwo_Przemyslowe_1.mp4">
    </video>
    <div class="main-textbox">
      <p class="main-title">BUDOWNICTWO PRZEMYSŁOWE</p>
      <span class="main-subtitle">OBIEKTY SPECJALNEGO PRZEZNACZENIA</span>
    </div>
  </div>
</main>


